{% extends 'Layout/Main.twig' %}

{% block header %}
    <style>
        .hidden {
            display: none;
            visibility: hidden;
        } 
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header">Let's chat</h5>
                <div class="card-body" id="body">
                    <ul class="list-group list-group-flush" id="messagePanel">
                    </ul>
                </div>
                <div class="card-footer">
                    <form id="sendForm">
                        <div class="form-row">
                            <div class="col-md-10">
                                <input type="text" name="message" id="message" placeholder="Enter your message" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="Send" class="btn btn-primary btn-small">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Online Users</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush" id="onlinePanel">
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="/user/logout" class="card-link">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.emit('information', {
            name: '{{ name }}'
        });

        $('#sendForm').submit(e => {
            e.preventDefault();
            socket.emit('message', {
                name: '{{ name }}',
                message: $('#message').val()
            });
            $('#message').val('');

            return false;
        });

        socket.on('message', msg => {
            $('#messagePanel').append(
                $('<li class="list-group-item d-flex justify-content-between align-items-center">')
                    .text(`${msg.name} - ${msg.message}`)
                    .append(`<span class="badge badge-primary badge-pill">${msg.type}</span>`)
            );
        });

        socket.on('update', info => {
            $('#onlinePanel').empty();
            for(let i = 0; i < info.length; i++) {
                $('#onlinePanel').append(
                    $('<li class="list-group-item">')
                        .text(`${info[i].name}`)
                );
            }
        });
    </script>
{% endblock %}
